.footer-info {
  width: 100vw;
  height: 230px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  background: white;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.price {
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.footer-review {
  margin-top: 7px;
  margin-bottom: 10px;
}
.footer-review-number {
  font-size: 13px;
  margin-right: 10px;
}
.art-img {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.art-img img {
  width: 100%;
  height: 11rem;
  cursor: pointer;
  padding-right: 30px;
}
.close-icon {
  position: absolute;
  top: 15px;
  right: 0;
  padding-right: 3rem;
  cursor: pointer;
}
.footer-title {
  font-size: 24px;
}

.footer-transition-enter {
  opacity: 0;
  transform: translateY(1000px);
}
.footer-transition-enter-active {
  transition: all 1s;
  opacity: 1;
  transform: translateY(0px);
}



@media screen and (max-width: 767px) {
  .close-icon {
    display: none;
  }
}
