body{
  margin: 0;
}
.nav{
  font-size: 18px;
  padding: 10px;
  background-color: white;
}
.nav-icon{
  padding: 0 4px;
}

.current-position-btn{
  position: absolute;
  z-index: 2;
  right:20px;
  bottom: 60px;
  background-color: white;
  padding: 5px;

  display:flex;
  justify-content : center;
  align-items:center;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-current-position{
  width: 40px;
  height: 40px;
  padding: 7px;
  position: absolute;
  right: 3vw;
  bottom: 10vh;
  z-index: 10;
  cursor: pointer;
  background-color: rgb(209, 202, 202);
  color: #7cbaf7;
  border-radius: 50%;
  opacity: 60%;
}
.find-current-position:hover{
  opacity: 100%;
}