/* 구글 기본 사람 , 확대 축소 아이콘 제거 */
.gm-svpc{
    display: none;
}
.gmnoprint{
    display: none;
}

/* 가격표에 x표시 제거 */
.infoBox img{
    display: none;
}
.gm-ui-hover-effect{
    display: none !important;
}
.info-window-box{
    width: 10px;
    height: 5px;
}
.map{
    width: 100vw;
    height: 90vh;
}
